.App {
  text-align: center;
}

.App-header {
  background-color: #35383f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.Movie-wrapper {
  width: 250px;
  background-color: antiquewhite;
  color: black;
}

.Movie-search {
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  width: 470px;
  font-weight: bold;
}

.Movie-title {
  height: 60px;
  margin: 10px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 18px;
  text-shadow: #2a2e36;
}

.Movie-image {
  width: 250px;
}

.Movie-date{
  font-style: italic;
  margin-top: 24px;
  font-size: 18px;
}

.Movie-rate {
  color: red;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}